{
    "kaguya": [
        [
            "smile",
            "https://i.imgur.com/FdRNcrf.png"
        ],
        [
            "no",
            "http://i.imgur.com/h8Rg4QH.png"
        ],
        [
            "take advantage",
            "http://i.imgur.com/vWys2t5.png"
        ],
        [
            "how lewd",
            "http://i.imgur.com/oQXUC9B.png"
        ]
    ],
    "hakomari": "https://myanimelist.net/manga/55215/Utsuro_no_Hako_to_Zero_no_Maria",
    "git": "https://github.com/appu1232",
    "get good": "https://cdn.discordapp.com/attachments/240823952459431936/266807454506024961/lpLiH3n.png",
    "akari bully": "http://livedoor.4.blogimg.jp/netagazou_okiba/imgs/a/e/ae001952.gif",
    "howcute": "http://i.imgur.com/LtdE1zW.jpg",
    "okay": "https://files.catbox.moe/bee0q0.png",
    "hellno": "https://cdn.discordapp.com/attachments/204330540403392512/299581724793372672/RD36Ril.gif",
    "advantage": "https://images-ext-1.discordapp.net/eyJ1cmwiOiJodHRwOi8vaS5pbWd1ci5jb20vdld5czJ0NS5wbmcifQ.HsoAP_nsOgWMvuuIF-fl3XBK8-Y?width=400&height=184",
    "fatje": "https://cdn.discordapp.com/attachments/144910154733715457/301794205469245440/y8aZYNx.png",
    "weeb": "https://files.catbox.moe/uwlj1p.jpg",
    "great": "https://files.catbox.moe/fxt25v.png",
    "sit": "https://files.catbox.moe/36g46g.jpg",
    "internet": "https://files.catbox.moe/htx5ih.jpg",
    "friends": "https://files.catbox.moe/3811be.png",
    "nofriends": "https://files.catbox.moe/kr7vwp.jpg",
    "sorry": "https://files.catbox.moe/vzhcic.jpg",
    "snacks": "https://files.catbox.moe/q1ythj.png",
    "underwear": "https://files.catbox.moe/2esn6p.png",
    "otaku": "https://cdn.discordapp.com/attachments/244550953594912768/303515041590804480/17796083_1378359265550898_7130237702798019594_n.jpg",
    "proud": "https://cdn.discordapp.com/attachments/211595086998274050/303578462885642240/jc6DYSS.gif",
    "ban": "http://i.imgur.com/8TuXJIR.gif",
    "vikapout": "https://cdn.discordapp.com/attachments/266979494890438656/303984987433074690/vikapout.png",
    "human": "https://cdn.discordapp.com/attachments/144910154733715457/303991144033812480/Fz4R2rc.png",
    "weird": "https://cdn.discordapp.com/attachments/205594302582095872/304009121085259777/unknown.png",
    "dick": "https://cdn.discordapp.com/attachments/233174383902982146/303884454382927872/image.jpg",
    "catlove": "https://cdn.discordapp.com/attachments/144910154733715457/304016165980602368/QuLeIar.gif",
    "diabates": "https://cdn.discordapp.com/attachments/164827201471119370/305007424002195459/DGQkBQe.png",
    "dianathink": "https://cdn.discordapp.com/attachments/238484592548511754/305009058019147776/psva9voj9rsy.png",
    "lies": "https://files.catbox.moe/ndqgm4.jpg",
    "imagination": "https://files.catbox.moe/d4wy9r.jpg",
    "anime": "https://files.catbox.moe/ui3yz9.jpg",
    "arrow": "https://cdn.discordapp.com/attachments/283627380944142336/305464252645244938/ezgif-3-046113678f.gif",
    "pervert": "https://cdn.discordapp.com/attachments/283627380944142336/305470271886983169/ezgif-3-f1493f3be9.gif",
    "pants": "https://cdn.discordapp.com/attachments/283627380944142336/305475076680056842/9nFhLcn.png",
    "trash": "https://cdn.discordapp.com/attachments/283627380944142336/305475456910491648/hm48uog536ty.png",
    "zeal": "https://cdn.discordapp.com/attachments/283627380944142336/305475456910491648/hm48uog536ty.png",
    "niceperson": "https://files.catbox.moe/kthl46.jpg",
    "diehappy": "https://files.catbox.moe/khjhto.png",
    "yeah": "https://files.catbox.moe/fj1sq4.png",
    "love": "https://i.imgur.com/dMAL1dC.gif",
    "poutgif": "https://thumbs.gfycat.com/RemarkableEvergreenBordercollie-size_restricted.gif",
    "pout": "https://files.catbox.moe/i0a380.jpg",
    "nolove": "https://i.redd.it/pd3621peihty.png",
    "nomoney": "https://cdn.discordapp.com/attachments/144910154733715457/306174853323685898/37Ha9fz.png",
    "whattodo": "https://files.catbox.moe/fgy9vl.jpg",
    "rude": "https://files.catbox.moe/yp43ro.png",
    "faggot": "https://i.warosu.org/data/tg/img/0487/40/1470946371410.gif",
    "retarded": "https://cdn.discordapp.com/attachments/250137428407353345/306570492226174976/jvk5hj45gqsy.png",
    "idiot": "https://cdn.discordapp.com/attachments/144910154733715457/306919135210897426/6smmmah8btty.png",
    "unlucky": "https://cdn.discordapp.com/attachments/205594302582095872/307264771441557506/cw879lK.png",
    "doit": "https://i.redd.it/6qyy8ag5csty.png",
    "planning": "https://cdn.discordapp.com/attachments/266979494890438656/308222904200331264/AzvD882.png",
    "amaze": "https://b.catgirlsare.sexy/eVT5.gif",
    "laugh": "https://files.catbox.moe/5r60h0.gif",
    "nudes": "https://cdn.discordapp.com/attachments/144910154733715457/314119363013640202/l6p4hp8fznfy.png",
    "dodge": "https://i.redd.it/ukayo5ovh9yy.png",
    "annoying": "https://files.catbox.moe/jw91vu.jpg",
    "spicy": "https://cdn.discordapp.com/attachments/283627380944142336/316607930747322379/lkx54cevk8zy.png",
    "joke": "https://i.redd.it/kpzwgm1qq2zy.jpg",
    "sauce": "https://i.redd.it/27hhuasqrxyy.jpg",
    "canthurtme": "https://files.catbox.moe/qslbem.png",
    "faceplant": "https://files.catbox.moe/c3vrqw.png",
    "wweebs": "http://i.imgur.com/S007qiE.jpg",
    "hateweeb": "https://files.catbox.moe/3fhfsu.png",
    "bully": "https://files.catbox.moe/3e8425.jpg",
    "flat?": "https://files.catbox.moe/g6sasl.png",
    "panties": "https://files.catbox.moe/onf0gr.png",
    "beta": "https://files.catbox.moe/z2a2rv.jpg",
    "tired": "https://cdn.discordapp.com/attachments/144910154733715457/322164529163272192/tAcBScV.gif",
    "mean": "https://files.catbox.moe/5lqmgk.jpg",
    "depressed": "https://files.catbox.moe/0x3b8t.png",
    "rant": "http://i.imgur.com/0weaFEL.gif",
    "sorrygif": "https://files.catbox.moe/0ggbjq.gif",
    "freakout": "https://files.catbox.moe/b49g0e.gif",
    "spooked": "https://files.catbox.moe/tu7qpb.gif",
    "scream": "https://files.catbox.moe/otedt0.gif",
    "weebrage": "http://i.imgur.com/RBHUwEO.gif",
    "drool": "https://files.catbox.moe/myn08x.gif",
    "imout": "https://files.catbox.moe/6yczfc.gif",
    "wat": "https://files.catbox.moe/x34fsu.gif",
    "sad": "https://files.catbox.moe/mmoaux.gif",
    "fuckthispost": "https://files.catbox.moe/ka3fdj.gif",
    "baka": "http://pa1.narvii.com/5843/e8097fde779913774bccb331fc572d383317fc2e_hq.gif",
    "pg": "https://files.catbox.moe/zmh1rp.gif",
    "source": "https://files.catbox.moe/hc0uhk.gif",
    "lexpensive": "https://files.catbox.moe/dake8c.gif",
    "critchance": "http://www.savatarian.com/lex/dragonica/",
    "fatty": "https://cdn.discordapp.com/attachments/270651617475428352/322127483480834058/calling_me_fatty.PNG",
    "likeme": "https://cdn.discordapp.com/attachments/144910154733715457/323192695424024578/giphy_1.gif",
    "shitwaifu": "https://puu.sh/vSKz3.gif",
    "admin": "https://i.redd.it/zlc6l9eakhvy.gif",
    "everyone": "https://i.imgur.com/gjRp51B.gif",
    "lewdness": "https://files.catbox.moe/91ol0k.png",
    "dreams": "https://cdn.discordapp.com/attachments/144910154733715457/323623471231795200/ibl0Jwy.png",
    "morning": "https://files.catbox.moe/rjtypx.png",
    "coming": "https://cdn.discordapp.com/attachments/144910154733715457/323634880657489920/41fa852c-ab31-47cb-9924-18a45377aa80.png",
    "flame": "https://cdn.discordapp.com/attachments/144910154733715457/323636651718869002/Fiery_Akko.gif",
    "sleepy": "https://cdn.discordapp.com/attachments/144910154733715457/323641275741896704/15541085_1093235524122802_1776703833590117576_o.png",
    "insult": "https://files.catbox.moe/eb96cf.png",
    "lovelook": "https://cdn.discordapp.com/attachments/144910154733715457/323964308210057216/d79f72b4-4153-481d-a23b-ddb30ac01baf.gif",
    "demonspeak": "https://files.catbox.moe/f3nwoq.png",
    "nothanks": "https://cdn.discordapp.com/attachments/317944246470705153/324211146532061184/1460962859613.png",
    "age": "https://cdn.discordapp.com/attachments/144910154733715457/324298220064997376/unknown.png",
    "senpai": "https://cdn.discordapp.com/attachments/144910154733715457/324532335884369920/656964841c58c1b51a19464dd20dbfee.png",
    "gimme": "https://cdn.discordapp.com/attachments/144910154733715457/324880811553849345/maxresdefault.png",
    "scared": "https://files.catbox.moe/7zh3rn.gif",
    "toolewd": "https://files.catbox.moe/mcmiy2.gif",
    "autopilot": "https://files.catbox.moe/fwuyw8.png",
    "senpaigif": "https://files.catbox.moe/wcl3cu.gif",
    "nyan": "https://catgirls.brussell98.tk/files/c3372d5b4c4a66ea4ab24bdb0aed826c.jpg",
    "order": "https://catgirls.brussell98.tk/files/400b7675b8720474d2efb3d8d372ff70.jpg",
    "box": "https://catgirls.brussell98.tk/files/d99bedf4c6cf50c7f1306722b1e60b9b.png",
    "3d": "https://catgirls.brussell98.tk/files/7b5e8712f2f87ca002e8ccd4338010e4.jpg",
    "tiredcat": "https://catgirls.brussell98.tk/files/7d29e9550b1c3650a44d5aba96cd2f37.jpg",
    "suicide": "http://i.imgur.com/AsncYSb.png",
    "nekolove": "https://catgirls.brussell98.tk/files/66bb750473d90887ffb0f19d1dd795e0.jpg",
    "hugs": "https://catgirls.brussell98.tk/files/f59267e487aa7492d1c41eff85bb421f.jpg",
    "chilling": "https://catgirls.brussell98.tk/files/d2c2f2c958995501bd9b7ab7b96639e4.jpg",
    "goodmorning": "https://catgirls.brussell98.tk/files/13dcc88aa23819667d118fd22b99c33c.png",
    "nekoheart": "https://catgirls.brussell98.tk/files/b7df079bbe3e4fe99bf81710d6c97200.png",
    "tiredsono": "https://i.redd.it/8k4roya7st3z.jpg",
    "hissing": "https://files.catbox.moe/od3iu6.gif",
    "trashcan": "https://files.catbox.moe/mpkm1f.jpg",
    "weebshit": "https://files.catbox.moe/n9fgpd.gif",
    "stupid": "https://files.catbox.moe/5ocihq.jpg",
    "butsad": "https://i.imgur.com/Cbqly.gif",
    "meltdown": "The person you are trying to reach is currently lexpierencing a mental meltdown, try agian later of leave a message after the beep.\n.\n.\n.\nBeep",
    "disabled": "\u267fdisabled\u267f",
    "confuse": "https://files.catbox.moe/akzjbv.gif",
    "bleach": "https://files.catbox.moe/hixc6m.gif",
    "lewd": "http://files.catbox.moe/zik7ws.gif",
    "wave": "http://i.imgur.com/BnHW9dR.gif",
    "hug": "http://i.imgur.com/HvO4Azs.gif",
    "sadears": "http://i.imgur.com/aqQaDu8.gif",
    "whypost": "http://i.imgur.com/JluhN2R.gif",
    "lexpert": "http://i.imgur.com/NBFvyQs.gif",
    "shoot": "http://i.imgur.com/AKaCuru.gif",
    "flashback": "http://i.imgur.com/jxS30yx.gif",
    "thesaddest": "http://i.imgur.com/rzfJZN5.gif",
    "akkosad": "http://i.imgur.com/KT2SzCI.gif",
    "NotLikeThis": "http://i.imgur.com/dkrf3G7.gif",
    "rivendoctor": "http://i.imgur.com/x0Ze4YM.gif",
    "freak": "http://i.imgur.com/TXtEJDj.gif",
    "bingo": "http://i.imgur.com/4pMJNDY.gif",
    "wanttodie": "http://i.imgur.com/jcE8Soc.gif",
    "shoot2": "http://i.imgur.com/0hIfIJV.gif",
    "atyourservice": "http://i.imgur.com/lGH50zT.gif",
    "thankyou": "http://i.imgur.com/SFTVRzd.gif",
    "sleeper": "http://i.imgur.com/bUS2QPe.gif",
    "chokeme": "https://files.catbox.moe/ehsep8.png",
    "wordsactions": "http://i.imgur.com/Txna1fM.gif",
    "loveyou2": "https://files.catbox.moe/9io989.png",
    "loveyou1": "https://files.catbox.moe/m00us5.png",
    "loveback": "https://files.catbox.moe/ovlz9m.png",
    "happy": "https://files.catbox.moe/z33h9l.gif",
    "hehe": "https://i.imgur.com/W9ehhfp.gif",
    "saddragon": "https://i.imgur.com/CBiT8db.gif",
    "kamehameha": "https://i.imgur.com/ZyCDiEy.gif",
    "headpetbully": "https://i.redd.it/z1ekwi3k574z.gif",
    "christian": "https://b.catgirlsare.sexy/z32V.png",
    "derek": "https://b.catgirlsare.sexy/nt26.png",
    "understand": "https://b.catgirlsare.sexy/90Fz.png",
    "sleep": "https://b.catgirlsare.sexy/Wq5V.png",
    "vika": "<:mad:270967218404065280><:dam:315231384123998218>\n<:poutvika:333285656887427073><:tuopakiv:333278466181038080>",
    "hackerchan": "https://b.catgirlsare.sexy/Z5hQ.png",
    "lolisleep": "https://youtu.be/DOXh4sN0tLY"
}
