{
    "tt2artifacts": "https://www.reddit.com/r/TapTitans2/comments/732nk1/artifact_tier_list_for_patch_20_will_update_with/",
    "get good": "https://cdn.discordapp.com/attachments/240823952459431936/266807454506024961/lpLiH3n.png",
    "tt2gitgud": "https://puu.sh/vYLM6/36c695d986.png",
    "fairystrike": "https://www.reddit.com/r/TapTitans2/comments/7duqxz/updatedfairy_farming_build_under_200sp/",
    "naya": "\u0274\u1d00\u028f\u1d00",
    "akari bully": "http://livedoor.4.blogimg.jp/netagazou_okiba/imgs/a/e/ae001952.gif",
    "git": "https://github.com/appu1232",
    "kaguya": [
        [
            "smile",
            "https://i.imgur.com/FdRNcrf.png"
        ],
        [
            "no",
            "http://i.imgur.com/h8Rg4QH.png"
        ],
        [
            "take advantage",
            "http://i.imgur.com/vWys2t5.png"
        ],
        [
            "how lewd",
            "http://i.imgur.com/oQXUC9B.png"
        ]
    ],
    "whalechart": "https://cdn.discordapp.com/attachments/270569240346492928/367213479851196416/image.jpg",
    "tt2optimizer": "https://docs.google.com/spreadsheets/d/1LzT-Bn-SE21fn0Br1rwPlYB6vI6SlCWC7E99MNA2WLc/edit?usp=sharing",
    "hakomari": "https://myanimelist.net/manga/55215/Utsuro_no_Hako_to_Zero_no_Maria",
    "tt2builds": "https://www.reddit.com/r/TapTitans2/comments/7e9iz8/how_to_build_a_build_will_be_updated_with_new/"
    "hakomari": "https://myanimelist.net/manga/55215/Utsuro_no_Hako_to_Zero_no_Maria",
    "git": "https://github.com/appu1232",
    "get good": "https://cdn.discordapp.com/attachments/240823952459431936/266807454506024961/lpLiH3n.png",
    "akari bully": "http://livedoor.4.blogimg.jp/netagazou_okiba/imgs/a/e/ae001952.gif"
}
